<nav class="mini navbar navbar-expand-lg navbar-light bg-light text-center">
    <ul class="mini-ul navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="{{ path('profile') }}">{{ 'base.nav.div.a1'|trans }}</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ path('cart') }}">{{ 'base.nav.div.a2'|trans }}</a></li>
    </ul>
</nav>