<nav class="mini navbar navbar-expand-lg navbar-light bg-light text-center">
    <ul class="mini-ul navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="{{ path('profile') }}">Profile</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ path('cart') }}">Your Orders</a></li>
    </ul>
</nav>