.mini {
    width: 100%;
    margin: auto;
}

.mini-ul {
    margin: auto;
    flex-direction: row;
}

.mini-ul li {
    margin: 0 20px 0 20px;
}

.profile-picture {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}